body {

	margin-left:10;
}
.menu {

	border:2px black;
	background-color: #b2e4f9;
	width:200px;
}

.menu ul {
	list-style:none;
	margin: 0;
    padding: 0;
	width:200px;
}
.menu li a{
	display: block;
	margin:0px;
	padding:10px;
	font-size:22px;
	font-family:verdana;
	border: 1px solid #a1a1a1;
	text-decoration:none;

}


.menu li a:hover {
	padding:10px;
	color:red;
	background-color: #fef0c6;
}
